<% layout('layouts/boilerplate')%>

    <head>
        <title>Register</title>
        <link rel="stylesheet" href="/Signup.css">
    </head>

    <div class="center">
        <div class="back-button">
            <button type="button" id="goBack"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
        </div>
        <h1>Sign up</h1>
        <form id="form" action="/user/register" method="POST">
            <div class="alert alert-danger" role="alert" style="display: none;" id="alertUsername">
                Username already exists
                <button type="button" style="border: 0; float: right;" id="closeUserBtn">x</button>
            </div>
            <div class="txt_field">
                <input type="text" id="username" name="user[username]" placeholder="Username" required>
            </div>
            <div class="txt_field">
                <input type="text" name="user[first_name]" placeholder="First name" required>
            </div>
            <div class="txt_field">
                <input type="text" name="user[last_name]" placeholder="Last name" required>
            </div>
            <div class="alert alert-danger" role="alert" style="display: none;" id="alertEmail">
                Email already taken
                <button type="button" style="border: 0; float: right;" id="closeEmailBtn">x</button>
            </div>
            <div class="txt_field">
                <input type="text" id="email" name="user[email]" placeholder="Email" required>
            </div>
            <div class="txt_field">
                <input type="text" name="user[address]" placeholder="Address" required>
            </div>
            <div class="alert alert-danger" role="alert" style="display: none;" id="alertPhone">
                Phone number already taken
                <button type="button" style="border: 0; float: right;" id="closePhoneBtn">x</button>
            </div>
            <div class="txt_field">
                <input type="text" id="phone_nb" name="user[phone_nb]" placeholder="Phone number" required>
            </div>
            <div class="txt_field">
                <input type="password" id="phone_nb" name="password" placeholder="Password" required>
            </div>
            <div class="select_field">
                <select name="title">
                        <option>Mr</option>
                        <option>Mrs</option>
                    </select>
            </div>
            <div class="login_link">
                Already a member? <a href="/user/login">Login</a>
            </div>
            <input type="submit" value="Register" id="submitButton">
        </form>
    </div>
    <div class="spinner-border text-primary" id="spinner" style="top: 96.5%; left: 48.6%; position: absolute; display: none;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <script src="/goBack.js"></script>
    <script src="/register.js"></script>
    <script src="/verify.js"></script>